* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: content-box;
}

.menu_bar {
    display: none;
}

header {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

header nav {
    background: #023859;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    position: relative;
}

header nav ul li:hover {
    background: #E6344A;
}

header nav ul li a {
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 20px;
}

header nav ul li a span {
    margin-right: 10px;
}

header nav ul li:hover .children {
    display: block;
}

header nav ul li .children {
    display: none;
    background: #011826;
    position: absolute;
    width: 150%;
    z-index: 1000;
}

header nav ul li .children li {
    display: block;
    overflow: hidden;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
}

header nav ul li .children li a {
    display: block;
}

header nav ul li .children li a span {
    float: right;
    position: relative;
    top: 3px;
    margin-right: 0;
    margin-left: 10px;
}

header nav ul li .caret {
    position: relative;
    top: 3px;
    margin-left: 10px;
    margin-right: 0px;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;
    box-shadow: 0px 0px 4px 2px #d3d3d3d1;
    border-radius: 10px;
    font-family: sans-serif;
    margin: 1%;
}

button {
    align-self: center;
    padding: 2vw;
    margin-top: 2vw;
    font-size: x-large;
    border-width: medium;
    border-radius: 3vw;
    box-shadow: 0px 0px 8px #0064ff;
    margin: 5%;
}

@media screen and (max-width: 700px) {
    .titulo {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid lightgray;
        box-shadow: 0px 0px 4px 2px #d3d3d3d1;
        background-color: aquamarine;
        border-radius: 10px;
        font-family: sans-serif;
        margin: 1%;
    }

}