* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: content-box;
}

input {
    margin: 5px 10px;
}

h3 {
    margin: 10px 0px 0px 10px;
}

header {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

header nav {
    background: #023859;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    position: relative;
}

header nav ul li a {
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 20px;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;
    box-shadow: 0px 0px 4px 2px #d3d3d3d1;
    border-radius: 10px;
    font-family: sans-serif;
    margin: 1%;
}

.tituloLista {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;
    box-shadow: 0px 0px 4px 2px #d3d3d3d1;
    border-radius: 10px;
    font-family: sans-serif;
    margin: 1%;
}

button {
    align-self: center;
    padding: 5px;
    margin-top: 10px;
    font-size: x-large;
    border-width: medium;
    border-radius: 10px;
    box-shadow: 0px 0px 1px 0px;
    margin: 1%;
}

.cardFormulario {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    box-shadow: 0px 0px 4px 2px #d3d3d3d1;
    border-radius: 10px;
    font-family: sans-serif;
    padding: 15px 5px;
    margin: 1%;
}

.cardLista {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    box-shadow: 0px 0px 4px 2px #d3d3d3d1;
    border-radius: 10px;
    font-family: sans-serif;
    padding: 15px 5px;
    margin: 1%;
}

.cardButton {
    display: flex;
    border: 1px solid lightgray;
    box-shadow: 0px 0px 4px 2px #d3d3d3d1;
    border-radius: 10px;
    font-family: sans-serif;
    margin: 1%
}

@media screen and (max-width: 700px) {
    .titulo {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid lightgray;
        box-shadow: 0px 0px 4px 2px #d3d3d3d1;
        background-color: aquamarine;
        border-radius: 10px;
        font-family: sans-serif;
        margin: 1%;
    }

}