body {
    width: 100%;
    height: 100%;
    background-color: #c9c9c9;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Add padding to containers */
.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.containerTitulo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid transparent;
    box-shadow: 2px 2px 8px 4px #9d9d9d;
    border-radius: 15px;
    margin: 2% 0%;
    padding: 0% 0% 0% 2%;
}

.divTitulo {
    font-size: larger;
    display: flex;
    flex-direction: row;
}

.divTituloIcono {
    display: flex;
    flex-direction: row;
}

.imgIconButon {
    height: 30px;
    width: 30px;
}

.iconButton {
    background-color: #c9c9c9;
    padding: 10px 10px;
    margin: 8px 8px 8px 8px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bolder;
}

.labelTitulo {
    width: 120px;
    margin: 0px 100px 0px 0px;
}

.cardItemUser {
    cursor: pointer;
}

.card-title {}

.containerBuscarListForUser {
    display: flex;
    margin-top: 10px;
    padding: 15px;
    border: 1px solid transparent;
    box-shadow: 2px 2px 8px 4px #9d9d9d;
    border-radius: 15px;
    flex-direction: column;
}

@media screen and (max-width: 755px) {
    body {}

    .container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin: 2%;
        flex-wrap: wrap;
        width: 100%;
    }

    .iconButton {
        background-color: #c9c9c9;
        margin: 2px 2px 2px 2px;
        border: none;
        cursor: pointer;
        border-radius: 10px;
        font-weight: bolder;
    }

    .labelTitulo {
        width: 120px;
        margin: 0;
    }

}