body {
    width: 100%;
    height: 100%;
    background-color: #c9c9c9;
    margin: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Add padding to containers */
.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.containerTitulo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid transparent;
    box-shadow: 2px 2px 8px 4px #9d9d9d;
    border-radius: 5px;
}

.divTitulo {
    font-size: larger;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.divTituloIcono {
    display: flex;
    flex-direction: row;
}

.imgIconButon {
    height: 30px;
    width: 30px;
}

.iconButton {
    background-color: #c9c9c9;
    padding: 10px 10px;
    margin: 8px 8px 8px 8px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bolder;
}

.buttonBack {
    background-color: #c9c9c9;
    padding: 10px 10px;
    margin: 8px 0px 8px 0px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bolder;
}

.labelTitulo {
    width: 120px;
    margin: 0px 100px 0px 0px;
}

.cardItemUser {
    display: flex;
    justify-content: space-between;
    border-bottom: groove;
}

.containerBuscarListForUser {
    display: flex;
    margin-top: 10px;
    padding: 15px;
    border: 1px solid transparent;
    box-shadow: 2px 2px 8px 4px #9d9d9d;
    border-radius: 15px;
    flex-direction: column;
}

.divLoader {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.loader {
    border: 10px solid #f3f3f3;
    border-top: 10px solid #1815A3;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin: 20px;
    display: none;
}

/*aqui se hace la rotacion del loader y se poner en animation */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 755px) {

    .container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin: 0% 2%;
        flex-wrap: wrap;
        width: 100%;
    }

    .iconButton {
        background-color: #c9c9c9;
        margin: 2px 2px 2px 2px;
        border: none;
        cursor: pointer;
        border-radius: 10px;
        font-weight: bolder;
    }

    .labelTitulo {
        width: 120px;
        margin: 0;
    }

}