body {
    display: grid;
    justify-items: center;
    background-color: #c9c9c9;
}

img {
    height: 130px;
    width: 130px;
}

select {
    outline: none !important;
}

.labelTitulo {
    font-size: x-large;
}

.container {
    display: flex;
    margin-top: 10px;
    align-items: center;
    border: 1px solid transparent;
    box-shadow: 2px 2px 8px 4px #9d9d9d;
    border-radius: 15px;
}

.containerTipoBusqueda {
    margin: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid transparent;
    background: #1815A3;
    border-radius: 7px;
    padding: 7px;
}

.labelTipoBusqueda {
    font-weight: bolde;
    color: #c9c9c9;
}

.selectBusqueda {
    margin-top: 5px;
}

/*input bonito  */
.label {
    display: grid;
    grid-template-areas: "input";
    background-color: #c9c9c9;
}

.input {
    grid-area: input;
    width: 80px;
    font: inherit;
    border-radius: 10px;
    border: 2px solid #1815A3;
    padding: .7rem 1.5rem;
    background-color: #c9c9c9;
}

.label_name {
    grid-area: input;
    z-index: 100;
    width: max-content;
    margin-left: 1rem;
    padding: 0.5rem;
    align-self: center;
    height: 10%;
    display: flex;
    align-items: center;
}

.input:focus+.label_name,
.input:not(:placeholder-shown)+.label_name {
    transform: translateY(-100%);
    background-color: #c9c9c9;
}

/* Set a style for all buttons */
button {
    background-color: #1815A3;
    color: #c9c9c9;
    padding: 14px 20px;
    margin: 8px 8px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bolder;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}