h1{
    padding: 1%;
    color: blue;
}

#cabecera{
    text-align: center;
    border: 5px solid blue;
    color: blue;
    background-color: aquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

.hola{
    text-align: center;
    font-weight: bold;
}

.box{
    justify-items: center;
    width: 100px;
    height: 60px;
    background-color: blueviolet;
    margin: 1%;
    float: left;
}

.marcar{
    color: royalblue;
    font-weight: bold;
}

body{
    background-color: lightblue;
}

p{
    padding: 2%;
}