body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 10vw;
}

form {
  margin: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 10vw;
}

input {
  width: 50vw;
  padding: 3vw;
  border: 2vw solid #ccc;
  border-radius: 5vw;
  margin-bottom: 5vw;
  font-size: 5vw;
}

button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10vw;
}

button:hover {
  background-color: #0062cc;
}

#output {
  margin: 20px;
}
